
body
{
	height: 100vh;
	font-size: 2vmin;
	background: #343941;
	display: flex;
	align-items: center;
	justify-content: center;
}

.file-explorer-css
{
	height: 30em;
	width: 30em;
	position: relative;
	background: 
		
		/* Bottom red stripe */
		linear-gradient(
			#ee5566, #ee5566
		) right 0 top 81% / 57% 2.5em,
		
		/* Center red stripe */
		linear-gradient(
			#ee5566, #ee5566
		) right 0 top 64% / 57% 2.5em,
		
		/* Top red stripe */
		linear-gradient(
			#ee5566, #ee5566
		) right 0 top 47% / 57% 2.5em,
		
		/* Yellow stripe */
		linear-gradient(
			#eecc55, #eecc55
		) right 0 top 25% / 73% 2.5em;
		
	background-repeat: no-repeat;
	background-color: #343941;
    border-radius: 100%;
	filter: drop-shadow( 0 0 4em rgba(233, 9, 46, 0.432) );
}

